<div class="col-md-12 banner">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
  <p><%= link_to 'Walk A Pup', jobs_path, class: 'btn btn-primary btn-xlarge' %></p>

  <br>
  <p><%= link_to 'Find a Walker', users_path, class: 'btn btn-primary btn-xlarge' %></p>
  <p><%#= link_to "Have your pup walked by an Amazonian", availabilities_path, class: 'btn btn-primary btn-xlarge' %></p>
</div>