<%= render partial: 'users/session_buttons' %>

<%= render partial: 'jobs/new_job_button' %>

<h1>Pups in need of a walk</h1>

<% @jobs.each do |job| %>
<%= render partial: 'job', locals: { job: job } %>
<% end %>