<%= link_to 'New Job', new_job_path, class: 'btn btn-primary' %>

<h1>Pups</h1>

<% @jobs.each do |job| %>
<% if job.user != current_user && job.requests.empty? %>
<%= render partial: 'job', locals: { job: job } %>
<% end %>
<% end %>