Find a walker by posting a <%= link_to 'walker needed', new_job_path, class: 'btn btn-primary' %> item below

<h1>Pups in need of a walk</h1>

<% @jobs.each do |job| %>
<%= render partial: 'job', locals: { job: job } %>
<% end %>