<h1>Me</h1>

<%= render @user %>
<br>

<h1>My Pups</h1> 
<%= link_to 'New Pup', new_user_pup_path(current_user), class: 'btn btn-primary' %>
<br>
<br>
<% @pups.each do |pup| %>
<%= render partial: 'pups/pup', locals: { pup: pup } %>
<br>
<% end %>

<br>
<br>
<br>
<%= link_to 'Delete Account :(', user_path(current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<br>
<br>
<br>