<p>Drop off: <%= @job.drop_off_time.to_formatted_s(:long_ordinal) %></p>
<p>Place: <%= @job.drop_off_location %></p>
<p>Pick up: <%= @job.pick_up_time.to_formatted_s(:long_ordinal) %></p>
<p>Place: <%= @job.pick_up_location %></p>

 