<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Somebody wants to take your pup for a walk!</h1>
    <br>
    Approve:
    <%= jobs_url(controller: 'jobs', action: 'approve_walk_request', job_ref: @job_id) %>
    <br>
    Decline: 
    <%= jobs_url(controller: 'jobs', action: 'deny_walk_request', job_ref: @job_id) %>
    <br>
  </body>
</html>