<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Somebody wants to take your pup for a walk!</h1>
    <br>
    Approve:
    <%= job_approve_walk_request_url(@job_id, id: @job_id) %> <!-- seems redundant to have job_id and id...? -->
    <br>
    Decline: 
    <%= job_deny_walk_request_url(@job_id, id: @job_id) %>
    <br>
  </body>
</html>