<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Somebody wants to take your pup for a walk!</h1>
    <br>
    Approve: 
    <%= jobs_url(controller: 'jobs', action: 'update', request_approved: true)  %>
    <br>
    Decline: 
    <%= jobs_url(controller: 'jobs', action: 'update', request_approved: false) %>
    <br>
  </body>
</html>