<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Somebody wants to take your pup for a walk!</h1>
    <p>accept button</p>
    <p>deny button</p>
  </body>
</html>