
<p><strong>
  <%= link_to 'Approve', job_approve_walk_request_url(@job.id, id: @job.id) %>
  </strong></p>
<p><strong>
  <%= link_to 'Decline', job_deny_walk_request_url(@job.id, id: @job.id) %>
  </strong></p>
<%= render 'walk_request_details' %>
<br>
<%= render 'walk_request_cancel' %>
