<p><strong>
  <%#= link_to 'Approve', approve_walk_request_job_url(@job) %>
  </strong></p>
<p><strong>
  <%#= link_to 'Decline', deny_walk_request_job_url(@job) %>
  </strong></p>
<%= render 'walk_request_details' %>
<br>
<%= render 'walk_request_cancel' %>
