<%= render partial: 'jobs/new_job_button' %>

<h1>Someone else is walking my pup</h1> 
<br>
<br>
<% @jobs.each do |job| %>
<%= render partial: 'jobs/job', locals: { job: job } %>
<% end %>

<h1>I am walking someone else's pup</h1> 
<br>
<% @requests.each do |request| %>
<%= render partial: 'jobs/job', locals: { job: request.job } %>
<% end %>