body {
    background-image: url("confectionary.png");
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#101010;
   color:#9d9d9d;
}


