body {
  background: image-url('fabric_plaid.png');
}

.footer {
  position:relative;
  bottom:0;
  width:100%;
  height:60px;
  background:#101010;
  color:#9d9d9d;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.btn-xlarge {
  padding: 20px 30px;
  font-size: 50px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.banner {
  background-image: url('PupShareBanner.PNG'); 
}

.profile-image {
  max-height: 75px; 
  max-width: 75px;
}


