<%= link_to 'New Availability', new_availability_path, class: 'btn btn-primary' %>

<h1>Walkers</h1>

<% @availabilities.each do |availability| %>
<% if availability.user != current_user # don't show own availabilities %> 
<%= render partial: 'availability', locals: { availability: availability } %>
<% end %>  
<% end %>  

<% else %>
<% current_user.jobs.each do |job| %>
<% if Request.where(job_id: job).nil? # only show jobs w/o request outstanding %>
<div class="col-md-2">
  <%= simple_form_for Request.new, url: requests_path(current_user, 
  request: { user_id: current_user, requested_of_user_id: job.user, job_id: job, availability_id: availability, status: 'pending'}), 
method: :post do |f| %>
  <%= f.button :submit, 'Ask!', class: 'btn btn-success btn-xs'%>
  <% end %><!-- simple_form_for -->
</div>
<% end %><!-- if Request.where -->
<% end %><!-- if availability.user -->
<br>
<% end %><!-- if @availabilities.each -->