<%= link_to 'New Availability', new_availability_path, class: 'btn btn-primary' %>

<h1>My Availabilities</h1>

<% @availabilities.each do |availability| %>

<div class="booyah-box">

  <div class="row">

    <div class="col-md-4">
      <%= image_tag availability.user.pic, :class => 'img-responsive' %>
    </div>
    <div class="col-md-4">
      <p>Available from: <% availability.available_from %></p>
      <p>Available to: <% availability.available_to %></p>
      <p>Location: <% availability.location %></p>
      <p>Details: <% availability.comment %></p>

    </div>

    <div class="col-md-4">
      <% if availability.user == current_user %>  
      <%= link_to 'Edit', edit_availability_path(availability), class: 'btn btn-warning'%>
      <%= link_to 'Destroy', availability, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div> <!--booyah-box-->

<br>

<% end %>
