<%= link_to 'New Availability', new_availability_path, class: 'btn btn-primary' %>

<h1>Walkers</h1>

<% @availabilities.each do |availability| %>
<% if availability.user != current_user # don't show own availabilities %> 
<%= render partial: 'availability', locals: { availability: availability } %>
<% elsif !user_signed_in? # only show/use this button if no user signed in%>
<%= simple_form_for Request.new, url: requests_path(current_user, request: {user_id: current_user, requested_of_user_id: availability.user, status: 'pending'}), 
method: :post do |f| %>
<%= f.button :submit, 'Have this person walk my pup!', class: 'btn btn-success btn-lg'%>
<% end %>
<% end %>
<% end %>